h1{
    text-align: center;
}

h3{
    text-align: center;
}

.blog{
    border: 5px solid green;
    border-radius: 20px;
    margin-top: 20px;
    padding-left: 20px;
    width: auto;
    background-color: antiquewhite;
}

.images{
    
    height:auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;

}
img{
    width: auto;
    height: 400px;
    display: inline;
    border-radius: 8px;
}